[Unit]
Description=Ubuntu Core Firstboot Configuration %I
BindsTo=dev-%i.device
After=dev-%i.device systemd-user-sessions.service plymouth-quit-wait.service
After=rc-local.service

[Service]
Environment=PYTHONPATH=/usr/share/subiquity
ExecStart=-/sbin/agetty -n --noclear -l /usr/bin/console-conf %I $TERM
Type=idle
Restart=always
UtmpIdentifier=%I
TTYPath=/dev/%I
TTYReset=yes
TTYVHangup=yes
KillMode=process
IgnoreSIGPIPE=no
SendsSIGHUP=yes

[Install]
WantedBy=getty.target
