name: Snap

on:
  push:
    paths-ignore:
      - 'doc/**'
  pull_request:
    paths-ignore:
      - 'doc/**'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  snap-build:
    if: false
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@v4
    - uses: canonical/action-build@v1
